// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel img {
    min-width: 100%;
    height: auto;
}


.carousel .item {
  height: 500px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}
