// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  height : 80px;
}
